@{
  Layout = "_Layout";
}
&nbsp;
<h1>Welcome to Pierre's Sweets</h1>


<div class="d-grid gap-2">
  <a href='~/Account/Index'><button type="button" class="btn btn-outline-warning" style="width:150px">Account Login</button></a><br>
</div>

<!-- <div class="d-grid gap-2">
  <a href='~/Account/Index'><button type="button" class="btn btn-outline-warning" style="width:150px">Patron Login</button></a><br>
</div>  -->

