html {
  position: relative;
  min-height: 100%;
  text-align: center;
}

body {
  text-align: center;
  margin-bottom: 60px;
}

.container {
  text-align: center;
  display: flex;
  justify-content: center;
}
